html
  head
    title TerrainBooker - Accueil
    link(rel='stylesheet', href='/css/index.css')
  body
    #header
      img.logo(src="/img/logo.png", alt="logo")
      .login
        a(href="/auth/login") Se connecter
    #container
      .card
        h1 TerrainBooker
        img(src="/img/terrain-robecq.jpeg", alt="terrain-robecq")
        p AS LYSSOIS
    script(src="/js/index.js")
